{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load requisition_app_templatetags %}

{% block content %}

<div class="row" id='headerrow'>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        {% if reqinstallation.requisition_customer_logo %}
            <img src="{{reqinstallation.requisition_customer_logo.url}}" alt="missing logo">
        {% endif %}
        <!-- <img src="{% static 'images/logo.jpg' %}" alt="Belmero Inc missing image"> -->
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {% if inquiry is False %}
            <h2><center> {{ reqinstallation.requisition_form_name }} </center></h2>
        {% else %}
            <h2><center> {{ reqinstallation.requisition_form_name }} Inquiry</center></h2>
        {% endif %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
         <p align="right"> Requester: {{ requester_id }} </p>
    </div>

</div>

{% if reqinstallation.requisition_top_of_page_instructions %}
    {% if inquiry is False %}
        <div class="alert alert-info" role="alert">
            {{ reqinstallation.requisition_top_of_page_instructions }}
        </div>
    {% endif %}
{% endif %}

<div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form error_types='all' %}

        <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <label for="{{ form.business_unit.label }}">{{ form.business_unit.label }}</label>
               {{ form.business_unit|addattribute:'class:form-control' }}
               {{ form.business_unit.errors.as_ul }}
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <label for="{{ form.location.label }}">{{ form.location.label }}</label>
               {{ form.location|addattribute:'class:form-control'}}  <!-- custom templatetags I created -->
               {{ form.location.errors.as_ul }}
             </div>
        </div>

        {% if reqinstallation.req_hdr_custom_field_c10_hide_field is False or reqinstallation.req_hdr_custom_field_c30_hide_field is False or reqinstallation.req_hdr_custom_field_c60_hide_field is False %}
              <div class="row">
                  <!-- <h3>Additional Information</h3> -->
                  {% if reqinstallation.req_hdr_custom_field_c10_hide_field is False %}
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <label for="{{ form.custom_field_c10.label }}">{{ form.custom_field_c10.label }}</label>
                           {{ form.custom_field_c10|addattribute:'class:form-control'}}
                           {{ form.custom_field_c10.errors.as_ul }}
                      </div>
                  {% endif %}
                  {% if reqinstallation.req_hdr_custom_field_c30_hide_field is False %}
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <label for="{{ form.custom_field_c30.label }}">{{ form.custom_field_c30.label }}</label>
                           {{ form.custom_field_c30|addattribute:'class:form-control'}}
                           {{ form.custom_field_c30.errors.as_ul }}
                      </div>
                  {% endif %}
                  {% if reqinstallation.req_hdr_custom_field_c60_hide_field is False %}
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                           <label for="{{ form.custom_field_c60.label }}">{{ form.custom_field_c60.label }}</label>
                           {{ form.custom_field_c60|addattribute:'class:form-control'}}
                           {{ form.custom_field_c60.errors.as_ul }}
                      </div>
                  {% endif %}
              </div>
         {% endif %}

        <hr>

        {{ reqlineform.management_form }}

        {% for form in reqlineform %}  <!-- form is synonmous with line -->
        <!-- check all fields included hidden in the form for Errors -->
            <div class="line item" id="inputlines">
                 {% if form.instance.id %}
                      <span class="hidden line-id">{{ form.instance.id }}</span>
                 {% endif %}
                 {{ form.id.as_hidden }}  <!-- since we're not using form.as_p you have to have the key field on the form so it auto populates -->

                 {% bootstrap_formset_errors reqlineform %}
                 <!-- {% for err in form.non_field_errors %}
                    <p>Non-Field Error: {{ err }}</p>
                 {% endfor %} -->

                 {{ form.errors.as_ul }}

                 <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label for="{{ form.item_id.label }}">{{ form.item_id.label }}</label>
                        {{ form.item_id|addattribute:'class:form-control'}}
                        {{ form.item_id.errors.as_ul }}
                     </div>

                     {% if reqinstallation.bin_hide_field is False %}
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="{{ form.bin.label }}">{{ form.bin.label }}</label>
                            {{ form.bin|addattribute:'class:form-control'}}
                            {{ form.bin.errors.as_ul }}
                         </div>
                     {% endif %}

                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <label for="{{ form.qty.label }}">{{ form.qty.label }}</label>
                        {{ form.qty|addattribute:'class:form-control'}}
                        {{ form.qty.errors.as_ul }}
                     </div>
                 </div>

            </div>
        {% endfor %}

        <div class="clearfix"></div>

        {% if inquiry is False %}
            <div class="row" id='buttons'>
              <div class="clearfix"></div>
              <input class="btn btn-primary" type="submit" value="Save">
              <!-- <a href="{% url 'index' %}">back home</a> -->
            </div>
            <br>
        {% else %}
          <a href="{% url 'requisition_app:requisition_search'%}">Return to Search</a>
        {% endif %}

    </form>
</div>


{% endblock %}
