{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
  <h1>Requisitions Search Page</h1>

  <form method="GET">
      {% csrf_token %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          {% bootstrap_form filter.form %}
          <!-- {{ filter.form.as_p }} -->

      <button class='btn btn-primary' type="submit" name="Submit">Submit</button>
      </div>
  </form>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Search Results:</h3>
  </div>

  {% for req in filter.qs %}
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p><a href="{% url 'requisition_app:requisition_request_inquiry' req.pk %}"> ID: {{ req.id }} - {{ req.requester_id }} - {{ req.business_unit }} - {{ req.location }} - {{ req.entered_date }} </p>
            <hr>
        </div>
      </div>
  {% endfor %}


{% endblock %}
