{% extends "base.html" %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h2><strong>Thank You!</strong> You successfully submitted your Requisition</h2>
</div>


{% endblock %}
