/* General site styling */
/* sets error text to red color */
.errorlist {
  color: red;
}

/* suppose to set the border around the field to red */
.error input, .error select {
  border: 2px red solid;
}

p {
  font-size: medium;
  height: auto;
  color: black;
}


/* Navbar styling */
.container-fluid {
  height:auto;
  background-color: #004B87;
}


/* navbar left side brand background old-#ffffff*/
.navbar-brand{
  color: #ffffff;
}


/* Navbar right hand side menu items old-#43609C */
.nav.navbar-nav.navbar-right > li > a{
  color: white;
  background-color:#004B87;
}


/* hover brand */
.navbar-brand:hover,
.navbar-brand:focus{
  color: #dce775;
}


/* hover right side of menu items */
.nav.navbar-nav.navbar-right > li > a:hover,
.nav.navbar-nav.navbar-right > li > a:focus{
  color: #dce775;
}


.navbar-header > button > span{
  background-color: white;
}


/* change hamburger/collapsed menu drop down values */
.dropdown-menu > li > a {
  background-color: #ffffff !important;
}


/* hamburger/collapsed menu drop down values cont */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #dce775 !important;
}


.navbar-header .navbar-brand{
  height:auto;
}


/* adding spacing to form */
.row{
  padding: 10pt;
}
.yourinformation > div > label,
.supplierinformation > div > label,
.item > div > label,
.comments > div > label,
.totalshdr > div > label,
.aptracking > div > label {
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 1px;
}


/* formating Dashboard tables */
#customerdashboard,
#belmerodashboard {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 2px solid #b3b3b3;
    width: 100%
}


#customerdashboard caption,
#belmerodashboard caption {
  caption-side: top;
  height: 50%;
  font-size: 1.5em;
  color: #004B87;
  font-weight: bold;
  text-align: center;
}

.customerdashboard h2 {
  height: 50%;
  font-size: 1.5em;
  color: #004B87;
  font-weight: bold;
  text-align: center;
}


#customerdashboard th,
#belmerodashboard th {
  background-color: #004B87;
  color: white;
  height: 50%
  text-align: left;
  padding: 15px;
}


#customerdashboard tr:nth-child(even) {background-color: #f2f2f2;}
#belmerodashboard tr:nth-child(even) {background-color: #f2f2f2;}


#customerdashboard td,
#belmerodashboard td {
  text-align: left;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
}


#customerdashboard td > span,
#belmerodashboard td > span {
  font-size: medium;
}


/* this is used in the returns_app return_hdr_form.html  */
#delete_line_link{
  text-align: right;
}

/* used to format images and text on index page */
#tileimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tiletext{
  text-align:center;
  font-size: medium;
  font-weight: bold;
  color: #004B87;
}

.center-text{
  text-align: center;
}

.bold-text{
  font-weight: bold;
}
