{% extends "admin/base.html" %}



{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}



{% block branding %}

<!-- <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1> -->
<h1 id="site-name"><a href="{% url 'admin:index' %}">Belmero BlueBin Supply Chain Solutions <br> Admin Console </a></h1>

{% endblock %}

<!-- make sure to add the following line to the project's settings.py file under TEMPLATES
'DIRS': [os.path.join(BASE_DIR,'templates')], -->


{% block nav-global %}{% endblock %}
