apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}-media-pv-claim
  namespace: {{ name }}
spec:
  storageClassName: "oci"
  accessModes:
    - ReadWriteOnce
  selector:
    matchLabels:
      failure-domain.beta.kubernetes.io/zone: "US-ASHBURN-AD-2"
  resources:
    requests:
      storage: 8Gi
