apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}-database-pv-claim
  namespace: {{ name }}
spec:
  storageClassName: "oci"
  selector:
    matchLabels:
      failure-domain.beta.kubernetes.io/zone: "US-ASHBURN-AD-2"
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
