apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}-deployment
  namespace: {{ name }}
  labels:
    app: {{ name }}-bluebin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ name }}-bluebin
  template:
    metadata:
      labels:
        app: {{ name }}-bluebin
    spec:
      volumes:
      - name: database-pv-storage
        persistentVolumeClaim:
          claimName: {{ name }}-database-pv-claim
      - name: media-pv-storage
        persistentVolumeClaim:
          claimName: {{ name }}-media-pv-claim
      containers:
      - name: database
        image: postgres:latest
        env:
        - name: POSTGRES_USER
          value: belmero
        - name: POSTGRES_DB
          value: belmero
        ports:
        - containerPort: 5432
          name: postgresql
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: database-pv-storage
          subPath: {{ name }}-postgres
      - name: bluebinapp
        image: bluebin/bluebin:latest
        imagePullPolicy: Always
        env:
        - name: SECRET_KEY
          value: {{ secretkey }}
        ports:
        - name: app-http
          containerPort: 80
          protocol: TCP
        - name: app-https
          containerPort: 443
          protocol: TCP
        volumeMounts:
        - mountPath: /d/bluebin/src/media
          name: media-pv-storage
          subPath: {{ name }}-name
        lifecycle:
          postStart:
            exec:
              command: ['/bin/sh', '-c', 'echo "Running migrations"; sleep 10; sh /d/return-supplies/src/migrations.sh']
      imagePullSecrets:
      - name: bluebin-docker-hub-secret
