apiVersion: v1
kind: Service
metadata:
  name: {{ name }}-instance
  namespace: {{ name }}
  labels:
    app: {{ name }}-bluebin
spec:
  type: LoadBalancer
  selector:
    app: {{ name }}-bluebin
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
  - name: https
    protocol: TCP
    port: 443
    targetPort: 443
