{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>

<br>
<div class="container">
    <p><a href="{% url 'accounts_app:password_reset' %}">Forgot Password?</a></p>
</div>

{% endblock %}
