{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="alert alert-success" role="alert">
  <h1>Your password has been changed!</h1>
</div>
<br>

<h4><a href="{% url 'accounts_app:login' %}">Click here to Log In</a></h4>


{% endblock %}
