{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}


<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}

    <div class="alert alert-info" role="alert">
        <h4>Please enter your email below and click the Reset Password button</h4>
        <!-- <label for="email">Email address:</label> -->
        <br>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter the email associated with your account">
        <!-- {% bootstrap_form form %}
            <p>{{ form.email }}</p> -->
        <br>
        <input type="submit" class="btn btn-primary btn-lg" value="Reset password">
    </div>
</form>


{% endblock %}
