{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
          {{ form.errors }}
        {% endif %}
        <!-- <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div> -->
        <div class="alert alert-info" role="alert">
            <h4>Please enter (and confirm) your new password.</h4>

            <label for="new_password1">New Password:</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="Enter your new password">

            <br>
            <label for="new_password2">Re-enter/Confirm Password:</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="Enter your new password again to confirm it">

            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="Change My Password">
        </div>
    </form>
</div>

{% else %}
    <h1>Password reset failed</h1>
    <h4>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h4>

{% endif %}

{% endblock %}
