{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h4>We've emailed you instructions for setting your password. </h4>
    <h4>If they haven't arrived in a few minutes, check your spam folder.
    </h4>
</div>

{% endblock %}
