<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

<h1 class="center-text">Mobile Supply Chain</h1>

<!--
<div class="jumbotron">
  <h3><center> FOR BELMERO CUSTOMERS & PERSONNEL ONLY</center></h3>
</div>
<div>
  <p>This software is used to manage the Belmero Supplier Return Manage Service.
     Please use the menu bar at the top of the screen to navigate to the pages
     needed to complete the day-to-day work.
  </p>
</div>
-->

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="{% url 'requisition_app:requisition_request_create' request.user %}"><img src="{% static 'files/purchase_requisition_image_150x100.png' %}" alt="Purchase Requisitions" id="tileimage"></a>
        <p id="tiletext">Create Requisitions</p>
        <br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href=""><img src="{% static 'files/receiving2_image_150x100.jpg' %}" alt="Receiving" id="tileimage"></a>
        <p id="tiletext">FUTURE Receiving Functionality</p>
        <br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href=""><img src="{% static 'files/delivery2_image_150x100.jpg' %}" alt="Delivery" id="tileimage"></a>
        <p id="tiletext">FUTURE Delivery Functionality</p>
        <br>
    </div>
</div>

{% endblock %}
